/*
*
* Global 
*
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif, Helvetica;
    scroll-behavior: smooth;
    -webkit-appearance: none;
    -moz-appearance: none;
}

body {
    line-height: 1.5;
    overflow: hidden;
}

.img-fluid {
    width: 100%;
    height: 100%;
}

.hero-image {
    width: 100%;
    height: 300px;
}

.clear {
    clear: both;
}

.padding-top-bottom {
    padding-top: 80px;
    padding-bottom: 80px;
}

.custom__text {
    text-align: center;
    color: rgb(136, 136, 136);
}

.h3,
h3 {
    font-size: 1.50rem;
}


/*
*
* header 
*
*/

.header {
    z-index: 1;
    width: 100%;
    height: 80px;
    z-index: 10;
    position: absolute;
}

.nav-colored {
    background-color: #333333;
}

.navbar-toggler {
    color: whitesmoke;
}

.nav-transparent {
    background-color: transparent;
}

.header .navbar .lis t-container ul li a:hover {
    opacity: 1;
}

.navbar__a {
    color: whitesmoke !important;
    opacity: 0.7;
    font-size: 1.25rem;
}

.navbar__a:hover {
    opacity: 1;
    /* color: whitesmoke; */
}


/*
*
* hero section 
*
*/

.hero-section .hero-image-holder {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/joao-tzanno-_KO9Bs7ESxM-unsplash.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-section .hero-text-container {
    height: 100%;
    display: flex;
}

.hero-section .hero-text-container .text-holder {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.hero-section .text-holder h1 {
    opacity: .7;
    letter-spacing: 3px;
    color: white;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero-section .text-holder p {
    padding-bottom: 20px;
    opacity: .7;
    color: white;
}

.hero-section .text-holder a {
    display: block;
    width: 15rem;
    padding: .5em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 0.5);
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.5em;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

.hero-section .text-holder a:hover {
    opacity: 1;
    background-color: rgba(169, 169, 169, 0.234);
    color: white;
    border: 3px solid rgba(255, 255, 255, 1);
}


/*
*
* about us section 
*
*/

.about-card-holder {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 4px solid #035aa6;
    box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.4);
}

.about__title {
    line-height: 2;
    color: rgba(0, 0, 0, 0.582);
    color: #888888;
}

.about__p {
    color: #888888;
}


/*
*
* destination section 
*
*/

.destination {
    background-color: #cccccc3a;
}

.destination-card-holder {
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.4);
}

.card-image-holder {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    width: auto;
    height: 280px;
}

.card-image-holder img {
    transition: all 0.6s ease-in-out;
}

.card-image-holder img:hover {
    transform: scale(1.3);
}

.card-text,
.card-rate-container {
    padding: 15px;
}

.card-rate-container {
    padding: 15px 15px 30px 15px;
}

.card-text h3 {
    padding-top: 10px;
}

.card-rate-container .rate ul {
    list-style: none;
    color: gold;
    display: inline-flex;
}

.card-reviews {
    display: inline;
    padding-left: 10px;
}

.card-reviews:hover {
    color: #428DD9;
    text-decoration: underline;
    cursor: pointer;
}

.destination .destination-text {
    text-align: center;
    padding-bottom: 40px;
}

.rate {
    display: inline-block;
    color: rgba(0, 0, 0, 0.582);
}

.duration {
    float: right;
    display: block;
    color: rgba(0, 0, 0, 0.582);
    opacity: .7;
}

.duration-time {
    display: inline;
}


/*
*
*   ============================  testimonial section   ============================
* 
*/

.testimonials .testimonial-title {
    color: whitesmoke;
    opacity: 0.7;
}

.testimonial__item {
    padding: 20px 0;
}

.testimonial__item:hover {
    background-color: #88888878;
}

.testimonial__item>.custom__text {
    color: whitesmoke;
    opacity: 0.7;
}

.testimonial__item:hover .custom__text {
    opacity: 0.8;
    color: white;
}

.testimonial-title-holder {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
}

.testimonials q {
    font-size: 16px;
}

.testimonials-image {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.testimonials-image img {
    min-width: 100%;
    min-height: 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    background-size: cover;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*
*
*   ============================  destination-recent places section   ============================
* 
*/

.background-holder {
    position: relative;
    overflow: hidden;
}

.hero-image-text {
    position: absolute;
    width: 100%;
    bottom: -50%;
    color: #989898;
    height: 25%;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease;
}

.background-holder:hover .hero-image-text {
    bottom: 0;
}


/*
*
*   ============================  price section   ============================
* 
*/

.price-card {
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 20, 0.2);
}

.curved {
    position: relative;
    background: #035aa6;
    border-bottom-left-radius: 80% 100%;
}

.price__holder,
.price__title {
    background-color: #035aa6;
}

.card-white-color {
    color: #FFFEFD;
}

.price__font {
    font-size: 36px;
}

.price__span {
    font-size: 22px;
}

.price__detail {
    color: rgb(136, 136, 136);
}

.sign-up {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    display: inline-flex;
    width: 100%;
}

.custom-button {
    font-size: 18px;
    padding: 10px;
    margin: 0 auto;
    font-weight: bold;
    width: 150px;
    color: #035aa6;
    border: 1px solid #035aa6;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease;
}

.custom-button:hover {
    background-color: #035aa6;
    color: white;
    text-decoration: none;
}


/*
*
*   ============================  subscribe section   ============================
* 
*/

.subscribe .hero-image-subscribe {
    height: 450px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
}

.subscribe button.btn-light {
    background-color: #035aa6;
    color: var(--white);
    border-color: #035aa6;
}

.subscribe button.btn-light:hover {
    background-color: #408ed1;
    border-color: #408ed1;
}


/*
*
*   ============================  contact section   ============================
* 
*/

#contact {
    background-color: #cccccc3a;
}


/* Style inputs with type="text", and textarea */

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


/* Style the submit button with a specific background color etc */

input[type="submit"] {
    background-color: #035aa6;
    color: white;
    padding: 12px 20px;
    border: none;
    width: 150px;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */

input[type="submit"]:hover {
    border: none;
    background-color: #5b9ed8;
}


/* Add a background color and some padding around the form */

.contact-form {
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 20, 0.2);
    box-shadow: 2px 2px 10px rgba(0, 0, 20, 0.2);
    padding: 20px;
}

.contact-form label {
    color: rgba(0, 0, 0, 0.582);
}

.hidden {
    display: none;
}

.information__holder ul li span {
    padding: 0 20px;
    color: #428DD9;
    opacity: .8;
    width: 90%;
}

.information__holder ul li span:hover {
    opacity: 1;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}


/*
*
*   ============================  footer section   ============================
* 
*/

.copyright {
    font-size: 1.1rem;
    color: #333333;
}

a.footer__icon {
    color: #333333;
}

a.footer__icon:hover {
    background-color: #838383;
    color: white;
}


/*============================ start loading screen section ============================*/

.loading-screen {
    top: 0;
    background-color: #313132;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.loading__title {
    color: var(--white);
}

.spinner {
    width: 80px;
    height: 80px;
    padding: 20px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: rgb(255, 255, 0);
    border-radius: 50%;
    animation: my__rotate 1s linear infinite;
}

@-webkit-keyframes my__rotate {
    from {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@-moz-keyframes my__rotate {
    from {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@-o-keyframes my__rotate {
    from {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@keyframes my__rotate {
    from {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}


/*
*
*   ============================  media query   ============================
* 
*/

@media only screen and (max-width: 450px) {
    .copyright {
        font-size: .9rem;
    }
}


/*
*
*   Extra small devices (phones, 600px and down)
* 
*/

@media only screen and (max-width: 576px) {
    .hero-section .text-holder h1 {
        font-size: 1.6rem;
    }
    .destination-image-holder {
        height: 300px;
    }
    .subscribe__title {
        font-size: 1.5rem;
    }
}


/*
*
*   tablet size ends here
* 
*/

@media screen and (max-width: 1024px) {
    .hero-section .hero-image-holder {
        background-size: auto !important;
        -webkit-background-size: auto !important;
        -moz-background-size: auto !important;
        -o-background-size: auto !important;
        background-attachment: local !important;
        -webkit-background-attachment: local !important;
        -moz-background-attachment: local !important;
        -o-background-attachment: local !important;
    }
    .img-fluid-text {
        bottom: 50%;
    }
}


/*
*
*   Extra large devices (large laptops and desktops, 1200px and up)
* 
*/

@media only screen and (min-width: 1200px) {
    .subscribe .hero-image-subscribe {
        background-attachment: fixed;
    }
    .testimonial-title-holder {
        background-attachment: fixed;
    }
}